extends layout 
block content
  .panel
    .panel-head
    span.newArtist
      a(href='/artistinfo/list') Artists List
    #searchBtn.input-group
      form.d-flex.search-artist(method='post' action='/artistinfo/list')
          input.form-control.me-2(type='search' placeholder='Search for your artist' aria-label='Search' name='stagename')
          button.btn.btn-outline-success(type='submit')
            | Search

  
    .panel-body
      table.table.table-striped.table-bordered
        tbody
          tr
            th First name
            th Last name
            th Stage name
            th Artist ID
            th Telephone
            th Date of birth
            th NIN
            th Date of start
            th Location
            th Number of Albums 
            th Number of Songs 
            th genre
          if artists.length 
          each artist in artists  
            tr
              td  #{artist.firstname}  
              td  #{artist.lastname}
              td  #{artist.stagename}
              td  #{artist.artistid}
              td  #{artist.telephonecontact} 
              td  #{moment(artist.artistdob).format('DD/MM/YYYY')} 
              td  #{artist.nationalidnumber}
              td  #{moment(artist.dateofstart).format('DD/MM/YYYY')}
              td  #{artist.location}
              td  #{artist.numberofalbums}
              td  #{artist.numberofsongs}  
              td  #{artist.genre}
              

              td(style="display:flex; justify-content:center; align-items:center;")
                  a.edit(href='/artistinfo/update/'+artist._id)
                    p(name='create-outline') Update
                  a.remove(href='/artistinfo/delete/'+artist._id)
                    p(name='trash-outline') Delete