extends layout2
block content
  .section.container.jinx.text-warning.mb-5.p-5
    
    .row.d-flex.justify-content-center
      .col-6
        form.d-flex(method='post' action='/artistinfo/list')
            input.form-control.me-2(type='search' placeholder='Search for your artist' aria-label='Search' name='stagename')
            button.btn(type='button', style='margin-left:10px; background: #7612f8; padding: 8px 25px; margin-left: 30px; border-radius: 4px; font-weight: 400; color: #fff;')
              | Search
      .col-6.d-flex.justify-content-end
        a(href='/artistinfo/artistreg') 
            button.btn(type='button', style='margin-left:10px; background: #7612f8; padding: 8px 25px; margin-left: 30px; border-radius: 4px; font-weight: 400; color: #fff;') Add Artist 
                         
    table.table.text-light.mb-5
        tbody
          tr
            th.text-light First name
            th.text-light Last name
            th.text-light Stage name
            th.text-light Date of birth
            th.text-light Number of Albums 
            th.text-light Number of Songs 
            th.text-light genre
          if artists.length 
          each artist in artists  
            tr
              td.text-light  #{artist.firstname}  
              td.text-light  #{artist.lastname}
              td.text-light  #{artist.stagename}
              td.text-light  #{moment(artist.artistdob).format('DD/MM/YYYY')} 
              td.text-light  #{artist.numberofalbums}
              td.text-light  #{artist.numberofsongs}  
              td.text-light  #{artist.genre}
              td.text-light(style="display:flex; justify-content:center; align-items:center;")
                  a.edit(href='/artistinfo/update/'+artist._id)
                    button.btn(type='button', style='margin-left:10px; background: #7612f8; padding: 8px 25px; margin-left: 30px; border-radius: 4px; font-weight: 400; color: #fff;') Update
                  a.remove(href='/artistinfo/delete/'+artist._id)
                    button.btn(type='button', style='margin-left:10px; background: #EE4B2B; padding: 8px 25px; margin-left: 30px; border-radius: 4px; font-weight: 400; color: #fff;') Delete