extends layout2
block content
  .section.container.jinx.text-warning.mb-5.p-5
    .row.d-flex.justify-content-center
      .col-6
        form.d-flex(method='post' action='/bandinfo/list')
            input.form-control.me-2(type='search' placeholder='Search for your band' aria-label='Search' name='stagename')
            button.btn(type='submit', style='margin-left:10px; background: #7612f8; padding: 8px 25px; margin-left: 30px; border-radius: 4px; font-weight: 400; color: #fff;')
              | Search
      .col-6.d-flex.justify-content-end
        a(href='/bandinfo/bandreg') 
            button.btn(type='button', style='margin-left:10px; background: #7612f8; padding: 8px 25px; margin-left: 30px; border-radius: 4px; font-weight: 400; color: #fff;') Add band 
    table.table.text-light.mb-5
      tbody
        tr
          th.text-light Band name
          th.text-light Band owner
          th.text-light Band number of albums
          th.text-light Band ID
          th.text-light genre
          th.text-light number of members
          th.text-light Date of formation

        if bands.length 
        each band in bands  
          tr
            td.text-light  #{band.bandname}  
            td.text-light  #{band.bandowner}
            td.text-light  #{band.bandalbums}
            td.text-light  #{band.bandid} 
            td.text-light  #{band.genre}
            td.text-light  #{band.bandnumberofmembers}
            td.text-light  #{moment(band.dateofformation).format('DD/MM/YYYY')} 
            td(style="display:flex; justify-content:center; align-items:center;")
              a.edit(href='/band/update/'+band._id)
                button.btn(type='button', style='margin-left:10px; background: #7612f8; padding: 8px 25px; margin-left: 30px; border-radius: 4px; font-weight: 400; color: #fff;') Edit
              a.remove(href='/band/delete/'+band._id)
                button.btn(type='button', style='margin-left:10px; background: #EE4B2B; padding: 8px 25px; margin-left: 30px; border-radius: 4px; font-weight: 400; color: #fff;') Delete