extends layout 
block content
  .panel
    .panel-head
    span
      a(href='/labelinfo/list') Register new label
    #searchBtn.input-group
      .form-outline
        input#form1.form-control(type='search' placeholder='search by name' name='labelName')
      button#SBtn.btn.btn-primary(type='button')
        i.fa.fa-search 
    .panel-body
      table.zebra
        tbody
          tr
            th label name
            th label owner
            th label home
            th label slogan
            th number of members
            th Date of formation
            th Artists Managed 
            th sponsors
          if labels.length 
          each label in labels  
            tr
              td  #{label.labelname}  
              td  #{label.labelowner}
              td  #{label.labelhome}
              td  #{label.labelslogan} 
              td  #{label.numberofmembers}
              td  #{moment(label.dateofformation).format("DD/MM/YYYY")}
              td  #{label.artistsmanaged} 
              td  #{label.sponsors}

              td(style="display:flex; justify-content:center; align-items:center;")
                a.edit(href='/labelinfo/update/'+label._id)
                    button.btn.btn-info.text-light(type='button') Update
                a.remove(href='/labelinfo/delete/'+label._id)
                    button.btn.btn-danger(type='button') Delete